#### data collection and data exploration

In [858]:
## Libraries
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sb
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, precision_recall_fscore_support, confusion_matrix

In [859]:
print('current working dir:', os.getcwd())

## load data
data = pd.read_csv('../data/TOI.csv', comment= '#')

data

current working dir: c:\Users\topol\Exoplanet--Chronicles\notebooks

,toi,tid,tfopwg_disp,rastr,ra,decstr,dec,st_pmra,st_pmraerr1,st_pmraerr2,...,st_logg,st_loggerr1,st_loggerr2,st_logglim,st_rad,st_raderr1,st_raderr2,st_radlim,toi_created,rowupdate
0,1000.01,50365310,FP,07h29m25.85s,112.357708,-12d41m45.46s,-12.695960,-5.964,0.085,-0.085,...,4.19,0.07,-0.07,0,2.169860,0.072573,-0.072573,0,2019-07-24 15:58:33,2024-09-09 10:08:01
1,1001.01,88863718,PC,08h10m19.31s,122.580465,-05d30m49.87s,-5.513852,-4.956,0.102,-0.102,...,4.03,0.09,-0.09,0,2.010000,0.090000,-0.090000,0,2019-07-24 15:58:33,2023-04-03 14:31:04
2,1002.01,124709665,FP,06h58m54.47s,104.726966,-10d34m49.64s,-10.580455,-1.462,0.206,-0.206,...,NaN,NaN,NaN,0,5.730000,NaN,NaN,0,2019-07-24 15:58:33,2022-07-11 16:02:02
3,1003.01,106997505,FP,07h22m14.39s,110.559945,-25d12m25.26s,-25.207017,-0.939,0.041,-0.041,...,4.15,1.64,-1.64,0,NaN,NaN,NaN,0,2019-07-24 15:58:33,2022-02-23 10:10:02
4,1004.01,238597883,FP,08h08m42.77s,122.178195,-48d48m10.12s,-48.802811,-4.496,0.069,-0.069,...,4.14,0.07,-0.07,0,2.150000,0.060000,-0.060000,0,2019-07-24 15:58:33,2024-09-09 10:08:01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7212,995.01,317951248,FP,07h23m14.75s,110.811443,+05d33m46.26s,5.562850,2.061,0.405,-0.405,...,NaN,NaN,NaN,0,NaN,NaN,NaN,0,2019-07-24 15:58:33,2021-10-29 12:59:15
7213,996.01,142918609,FP,07h57m23.99s,119.349948,-19d30m57.65s,-19.516015,-3.900,0.848,-0.848,...,NaN,NaN,NaN,0,2.050000,NaN,NaN,0,2019-07-24 15:58:33,2021-10-29 12:59:15
7214,997.01,341729521,FP,08h05m16.69s,121.319521,-59d34m47.27s,-59.579798,-44.770,0.044,-0.044,...,4.52,0.08,-0.08,0,0.926261,0.045789,-0.045789,0,2019-07-24 15:58:33,2024-09-09 10:08:01
7215,998.01,54390047,FP,07h53m16.69s,118.319555,-14d13m07.76s,-14.218823,-1.706,0.069,-0.069,...,4.01,0.07,-0.07,0,2.349860,0.091578,-0.091578,0,2019-07-24 15:58:33,2024-09-09 10:08:01
7216,999.01,341186896,FP,07h55m27.38s,118.864086,-58d13m19.42s,-58.222060,-17.190,0.042,-0.042,...,4.35,0.09,-0.09,0,1.300000,0.050000,-0.050000,0,2019-07-24 15:58:33,2024-09-09 10:08:01

In [860]:
data.head()

,toi,tid,tfopwg_disp,rastr,ra,decstr,dec,st_pmra,st_pmraerr1,st_pmraerr2,...,st_logg,st_loggerr1,st_loggerr2,st_logglim,st_rad,st_raderr1,st_raderr2,st_radlim,toi_created,rowupdate
0,1000.01,50365310,FP,07h29m25.85s,112.357708,-12d41m45.46s,-12.695960,-5.964,0.085,-0.085,...,4.19,0.07,-0.07,0,2.16986,0.072573,-0.072573,0,2019-07-24 15:58:33,2024-09-09 10:08:01
1,1001.01,88863718,PC,08h10m19.31s,122.580465,-05d30m49.87s,-5.513852,-4.956,0.102,-0.102,...,4.03,0.09,-0.09,0,2.01000,0.090000,-0.090000,0,2019-07-24 15:58:33,2023-04-03 14:31:04
2,1002.01,124709665,FP,06h58m54.47s,104.726966,-10d34m49.64s,-10.580455,-1.462,0.206,-0.206,...,NaN,NaN,NaN,0,5.73000,NaN,NaN,0,2019-07-24 15:58:33,2022-07-11 16:02:02
3,1003.01,106997505,FP,07h22m14.39s,110.559945,-25d12m25.26s,-25.207017,-0.939,0.041,-0.041,...,4.15,1.64,-1.64,0,NaN,NaN,NaN,0,2019-07-24 15:58:33,2022-02-23 10:10:02
4,1004.01,238597883,FP,08h08m42.77s,122.178195,-48d48m10.12s,-48.802811,-4.496,0.069,-0.069,...,4.14,0.07,-0.07,0,2.15000,0.060000,-0.060000,0,2019-07-24 15:58:33,2024-09-09 10:08:01

In [861]:
data.shape

(7217, 65)

In [862]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7217 entries, 0 to 7216
Data columns (total 65 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   toi              7217 non-null   float64
 1   tid              7217 non-null   int64
 2   tfopwg_disp      7215 non-null   object
 3   rastr            7217 non-null   object
 4   ra               7217 non-null   float64
 5   decstr           7217 non-null   object
 6   dec              7217 non-null   float64
 7   st_pmra          7098 non-null   float64
 8   st_pmraerr1      7098 non-null   float64
 9   st_pmraerr2      7098 non-null   float64
 10  st_pmralim       7098 non-null   float64
 11  st_pmdec         7098 non-null   float64
 12  st_pmdecerr1     7098 non-null   float64
 13  st_pmdecerr2     7098 non-null   float64
 14  st_pmdeclim      7098 non-null   float64
 15  pl_tranmid       7217 non-null   float64
 16  pl_tranmiderr1   7207 non-null   float64
 17  pl_tranmiderr2   7207 non-null   float64
 18  pl_tranmidlim    7217 non-null   int64
 19  pl_orbper        7116 non-null   float64
 20  pl_orbpererr1    7094 non-null   float64
 21  pl_orbpererr2    7094 non-null   float64
 22  pl_orbperlim     7217 non-null   int64
 23  pl_trandurh      7217 non-null   float64
 24  pl_trandurherr1  7204 non-null   float64
 25  pl_trandurherr2  7204 non-null   float64
 26  pl_trandurhlim   7217 non-null   int64
 27  pl_trandep       7217 non-null   float64
 28  pl_trandeperr1   7212 non-null   float64
 29  pl_trandeperr2   7212 non-null   float64
 30  pl_trandeplim    7217 non-null   int64
 31  pl_rade          6746 non-null   float64
 32  pl_radeerr1      5715 non-null   float64
 33  pl_radeerr2      5715 non-null   float64
 34  pl_radelim       7217 non-null   int64
 35  pl_insol         7069 non-null   float64
 36  pl_insolerr1     0 non-null      float64
 37  pl_insolerr2     0 non-null      float64
 38  pl_insollim      0 non-null      float64
 39  pl_eqt           6941 non-null   float64
 40  pl_eqterr1       0 non-null      float64
 41  pl_eqterr2       0 non-null      float64
 42  pl_eqtlim        0 non-null      float64
 43  st_tmag          7217 non-null   float64
 44  st_tmagerr1      7217 non-null   float64
 45  st_tmagerr2      7217 non-null   float64
 46  st_tmaglim       7217 non-null   int64
 47  st_dist          7010 non-null   float64
 48  st_disterr1      6572 non-null   float64
 49  st_disterr2      6572 non-null   float64
 50  st_distlim       7217 non-null   int64
 51  st_teff          7086 non-null   float64
 52  st_tefferr1      6789 non-null   float64
 53  st_tefferr2      6789 non-null   float64
 54  st_tefflim       7217 non-null   int64
 55  st_logg          6421 non-null   float64
 56  st_loggerr1      5129 non-null   float64
 57  st_loggerr2      5129 non-null   float64
 58  st_logglim       7217 non-null   int64
 59  st_rad           6746 non-null   float64
 60  st_raderr1       5416 non-null   float64
 61  st_raderr2       5416 non-null   float64
 62  st_radlim        7217 non-null   int64
 63  toi_created      7217 non-null   object
 64  rowupdate        7217 non-null   object
dtypes: float64(49), int64(11), object(5)
memory usage: 3.6+ MB

In [863]:
data.describe()

,toi,tid,ra,dec,st_pmra,st_pmraerr1,st_pmraerr2,st_pmralim,st_pmdec,st_pmdecerr1,...,st_tefferr2,st_tefflim,st_logg,st_loggerr1,st_loggerr2,st_logglim,st_rad,st_raderr1,st_raderr2,st_radlim
count,7217.000000,7.217000e+03,7217.000000,7217.000000,7098.000000,7098.000000,7098.000000,7098.0,7098.000000,7098.000000,...,6789.000000,7217.0,6421.000000,5129.000000,5129.000000,7217.0,6746.000000,5416.000000,5416.000000,7217.0
mean,3520.873440,2.447754e+08,174.054880,-0.638640,-0.890660,0.227841,-0.227841,0.0,-9.098241,0.221824,...,-209.970456,0.0,4.305726,0.180285,-0.180285,0.0,1.407269,0.075120,-0.075120,0.0
std,2017.856672,1.634650e+08,101.318247,47.859668,78.793513,0.635892,0.635892,0.0,68.187016,0.625859,...,567.055152,0.0,0.304831,0.361231,0.361231,0.0,1.641548,0.084573,0.084573,0.0
min,101.010000,2.876000e+03,0.084680,-89.471513,-1624.050000,0.015000,-8.000000,0.0,-1230.620000,0.016000,...,-7000.000000,0.0,0.100000,0.000391,-2.010840,0.0,0.114827,0.003357,-1.723020,0.0
25%,1759.010000,1.303497e+08,94.009904,-44.938923,-11.091000,0.038000,-0.080000,0.0,-14.790000,0.038000,...,-157.000000,0.0,4.130000,0.080000,-0.095541,0.0,0.890000,0.050000,-0.080000,0.0
50%,3501.010000,2.455095e+08,153.910453,0.493167,-1.791500,0.051000,-0.051000,0.0,-3.339000,0.049000,...,-129.510000,0.0,4.330000,0.085631,-0.085631,0.0,1.235425,0.060000,-0.060000,0.0
75%,5273.010000,3.529249e+08,272.060717,42.627060,8.128250,0.080000,-0.038000,0.0,5.143250,0.071000,...,-122.000000,0.0,4.500000,0.095541,-0.080000,0.0,1.660000,0.080000,-0.050000,0.0
max,7045.010000,2.041563e+09,359.933006,89.086923,2074.520000,8.000000,-0.015000,0.0,1048.840000,8.000000,...,-7.824290,0.0,5.960650,2.010840,-0.000391,0.0,102.030000,1.723020,-0.003357,0.0

In [864]:
#data.dtypes

#### We can remove all columns that are not important to our dataset, those are columns that will not contribute to what we aim to achieve

In [865]:
## drop all irrelevant columns
data = data.drop(['rastr', 'decstr', 'toi_created', 
                 'rowupdate', 'toi', 'tid', 'st_pmraerr1', 'st_pmraerr2'], axis= 1)

In [866]:
data

,tfopwg_disp,ra,dec,st_pmra,st_pmralim,st_pmdec,st_pmdecerr1,st_pmdecerr2,st_pmdeclim,pl_tranmid,...,st_tefferr2,st_tefflim,st_logg,st_loggerr1,st_loggerr2,st_logglim,st_rad,st_raderr1,st_raderr2,st_radlim
0,FP,112.357708,-12.695960,-5.964,0.0,-0.076,0.072,-0.072,0.0,2.459230e+06,...,-264.7,0,4.19,0.07,-0.07,0,2.169860,0.072573,-0.072573,0
1,PC,122.580465,-5.513852,-4.956,0.0,-15.555,0.072,-0.072,0.0,2.459988e+06,...,-126.4,0,4.03,0.09,-0.09,0,2.010000,0.090000,-0.090000,0
2,FP,104.726966,-10.580455,-1.462,0.0,-2.249,0.206,-0.206,0.0,2.459225e+06,...,-124.0,0,NaN,NaN,NaN,0,5.730000,NaN,NaN,0
3,FP,110.559945,-25.207017,-0.939,0.0,1.640,0.055,-0.055,0.0,2.458493e+06,...,-567.0,0,4.15,1.64,-1.64,0,NaN,NaN,NaN,0
4,FP,122.178195,-48.802811,-4.496,0.0,9.347,0.062,-0.062,0.0,2.459987e+06,...,-171.1,0,4.14,0.07,-0.07,0,2.150000,0.060000,-0.060000,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7212,FP,110.811443,5.562850,2.061,0.0,-7.082,0.336,-0.336,0.0,2.458494e+06,...,-46.5,0,NaN,NaN,NaN,0,NaN,NaN,NaN,0
7213,FP,119.349948,-19.516015,-3.900,0.0,3.866,1.158,-1.158,0.0,2.458495e+06,...,NaN,0,NaN,NaN,NaN,0,2.050000,NaN,NaN,0
7214,FP,121.319521,-59.579798,-44.770,0.0,-2.616,0.036,-0.036,0.0,2.459230e+06,...,-132.9,0,4.52,0.08,-0.08,0,0.926261,0.045789,-0.045789,0
7215,FP,118.319555,-14.218823,-1.706,0.0,-1.714,0.061,-0.061,0.0,2.459230e+06,...,-130.7,0,4.01,0.07,-0.07,0,2.349860,0.091578,-0.091578,0
7216,FP,118.864086,-58.222060,-17.190,0.0,12.272,0.039,-0.039,0.0,2.459986e+06,...,-130.1,0,4.35,0.09,-0.09,0,1.300000,0.050000,-0.050000,0

In [867]:
data.dtypes

tfopwg_disp         object
ra                 float64
dec                float64
st_pmra            float64
st_pmralim         float64
st_pmdec           float64
st_pmdecerr1       float64
st_pmdecerr2       float64
st_pmdeclim        float64
pl_tranmid         float64
pl_tranmiderr1     float64
pl_tranmiderr2     float64
pl_tranmidlim        int64
pl_orbper          float64
pl_orbpererr1      float64
pl_orbpererr2      float64
pl_orbperlim         int64
pl_trandurh        float64
pl_trandurherr1    float64
pl_trandurherr2    float64
pl_trandurhlim       int64
pl_trandep         float64
pl_trandeperr1     float64
pl_trandeperr2     float64
pl_trandeplim        int64
pl_rade            float64
pl_radeerr1        float64
pl_radeerr2        float64
pl_radelim           int64
pl_insol           float64
pl_insolerr1       float64
pl_insolerr2       float64
pl_insollim        float64
pl_eqt             float64
pl_eqterr1         float64
pl_eqterr2         float64
pl_eqtlim          float64
st_tmag            float64
st_tmagerr1        float64
st_tmagerr2        float64
st_tmaglim           int64
st_dist            float64
st_disterr1        float64
st_disterr2        float64
st_distlim           int64
st_teff            float64
st_tefferr1        float64
st_tefferr2        float64
st_tefflim           int64
st_logg            float64
st_loggerr1        float64
st_loggerr2        float64
st_logglim           int64
st_rad             float64
st_raderr1         float64
st_raderr2         float64
st_radlim            int64
dtype: object

#### lets make a copy of dataset for preprocessing

In [868]:
df = data.copy()

In [869]:
## lets rename tfopwg_disp to just disposition
df.rename(columns= {'tfopwg_disp' : 'disposition'}, inplace= True)

#### since all columns are numerical except our target column `disposition`, we can check the missing values and convert disposition into numerical format using get_dummies from pd

In [870]:
## check missing targets
df['disposition'].isna().sum()

2

In [871]:
## fill the missing targets with unknown
df['disposition'] = df['disposition'].fillna('unknown')

In [872]:
df['disposition'].value_counts()

disposition
PC         4624
FP         1069
KP          537
CP          463
APC         428
FA           94
unknown       2
Name: count, dtype: int64

#### For our target `disposition` we can map all the above targets into numbers for model simplicisty

####  PC == 1                 CANDIDATE 
####  FP == 2                 False Positive 
####  KP == 3                 Known Planet 
####  CP == 4                 Confirmed Planet 
####  APC == 5                Additional Planet Candidate 
####  FA == 6                 False Alarm 
####  unknown == 0            Unknown can be treated as 0

In [873]:
## the mapping for disposition

disposition_mapping = {'PC': 1,                 # CANDIDATE 
                      'FP': 2,                  # False Positive 
                      'KP': 3,                  # Known Planet 
                      'CP': 4,                  # Confirmed Planet 
                      'APC': 5,                 # Additional Planet Candidate 
                      'FA': 6,                  # False Alarm 
                      'unknown': 0              # Unknown can be treated as 0
}

# Convert the `disposition` column to numeric values
df['disposition'] = df['disposition'].map(disposition_mapping)

In [874]:
df['disposition'].value_counts()

disposition
1    4624
2    1069
3     537
4     463
5     428
6      94
0       2
Name: count, dtype: int64

#### lets check missing values

In [875]:
## nan
df.isna()

,disposition,ra,dec,st_pmra,st_pmralim,st_pmdec,st_pmdecerr1,st_pmdecerr2,st_pmdeclim,pl_tranmid,...,st_tefferr2,st_tefflim,st_logg,st_loggerr1,st_loggerr2,st_logglim,st_rad,st_raderr1,st_raderr2,st_radlim
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,True,True,True,False,False,True,True,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,True,True,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7212,False,False,False,False,False,False,False,False,False,False,...,False,False,True,True,True,False,True,True,True,False
7213,False,False,False,False,False,False,False,False,False,False,...,True,False,True,True,True,False,False,True,True,False
7214,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7215,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7216,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [876]:
## sum of nan
df.isna().sum()

disposition           0
ra                    0
dec                   0
st_pmra             119
st_pmralim          119
st_pmdec            119
st_pmdecerr1        119
st_pmdecerr2        119
st_pmdeclim         119
pl_tranmid            0
pl_tranmiderr1       10
pl_tranmiderr2       10
pl_tranmidlim         0
pl_orbper           101
pl_orbpererr1       123
pl_orbpererr2       123
pl_orbperlim          0
pl_trandurh           0
pl_trandurherr1      13
pl_trandurherr2      13
pl_trandurhlim        0
pl_trandep            0
pl_trandeperr1        5
pl_trandeperr2        5
pl_trandeplim         0
pl_rade             471
pl_radeerr1        1502
pl_radeerr2        1502
pl_radelim            0
pl_insol            148
pl_insolerr1       7217
pl_insolerr2       7217
pl_insollim        7217
pl_eqt              276
pl_eqterr1         7217
pl_eqterr2         7217
pl_eqtlim          7217
st_tmag               0
st_tmagerr1           0
st_tmagerr2           0
st_tmaglim            0
st_dist             207
st_disterr1         645
st_disterr2         645
st_distlim            0
st_teff             131
st_tefferr1         428
st_tefferr2         428
st_tefflim            0
st_logg             796
st_loggerr1        2088
st_loggerr2        2088
st_logglim            0
st_rad              471
st_raderr1         1801
st_raderr2         1801
st_radlim             0
dtype: int64

In [877]:
df.isna().mean()

disposition        0.000000
ra                 0.000000
dec                0.000000
st_pmra            0.016489
st_pmralim         0.016489
st_pmdec           0.016489
st_pmdecerr1       0.016489
st_pmdecerr2       0.016489
st_pmdeclim        0.016489
pl_tranmid         0.000000
pl_tranmiderr1     0.001386
pl_tranmiderr2     0.001386
pl_tranmidlim      0.000000
pl_orbper          0.013995
pl_orbpererr1      0.017043
pl_orbpererr2      0.017043
pl_orbperlim       0.000000
pl_trandurh        0.000000
pl_trandurherr1    0.001801
pl_trandurherr2    0.001801
pl_trandurhlim     0.000000
pl_trandep         0.000000
pl_trandeperr1     0.000693
pl_trandeperr2     0.000693
pl_trandeplim      0.000000
pl_rade            0.065263
pl_radeerr1        0.208120
pl_radeerr2        0.208120
pl_radelim         0.000000
pl_insol           0.020507
pl_insolerr1       1.000000
pl_insolerr2       1.000000
pl_insollim        1.000000
pl_eqt             0.038243
pl_eqterr1         1.000000
pl_eqterr2         1.000000
pl_eqtlim          1.000000
st_tmag            0.000000
st_tmagerr1        0.000000
st_tmagerr2        0.000000
st_tmaglim         0.000000
st_dist            0.028682
st_disterr1        0.089372
st_disterr2        0.089372
st_distlim         0.000000
st_teff            0.018152
st_tefferr1        0.059304
st_tefferr2        0.059304
st_tefflim         0.000000
st_logg            0.110295
st_loggerr1        0.289317
st_loggerr2        0.289317
st_logglim         0.000000
st_rad             0.065263
st_raderr1         0.249550
st_raderr2         0.249550
st_radlim          0.000000
dtype: float64

In [878]:
##
df.columns[df.isna().mean() >= 1]

Index(['pl_insolerr1', 'pl_insolerr2', 'pl_insollim', 'pl_eqterr1',
       'pl_eqterr2', 'pl_eqtlim'],
      dtype='object')

#### so we can drop these above columns with nan mean greater than 1

In [879]:
df = df.drop(['pl_insolerr1', 'pl_insolerr2',
              'pl_insollim', 'pl_eqterr1',
              'pl_eqterr2', 'pl_eqtlim'], axis= 1)

In [880]:
#X['koi_pdisposition'] = X['koi_pdisposition'].apply(lambda x: 1 if x == 'CANDIDATE' else 0)

In [881]:
## replace nan with mean of each attribute
numeric_columns = df.select_dtypes(include=['int64', 'float64']).columns
for column in numeric_columns:
    df[column] = df[column].fillna(df[column].mean())

In [882]:
## check missing values again
df.isna().sum()

disposition        0
ra                 0
dec                0
st_pmra            0
st_pmralim         0
st_pmdec           0
st_pmdecerr1       0
st_pmdecerr2       0
st_pmdeclim        0
pl_tranmid         0
pl_tranmiderr1     0
pl_tranmiderr2     0
pl_tranmidlim      0
pl_orbper          0
pl_orbpererr1      0
pl_orbpererr2      0
pl_orbperlim       0
pl_trandurh        0
pl_trandurherr1    0
pl_trandurherr2    0
pl_trandurhlim     0
pl_trandep         0
pl_trandeperr1     0
pl_trandeperr2     0
pl_trandeplim      0
pl_rade            0
pl_radeerr1        0
pl_radeerr2        0
pl_radelim         0
pl_insol           0
pl_eqt             0
st_tmag            0
st_tmagerr1        0
st_tmagerr2        0
st_tmaglim         0
st_dist            0
st_disterr1        0
st_disterr2        0
st_distlim         0
st_teff            0
st_tefferr1        0
st_tefferr2        0
st_tefflim         0
st_logg            0
st_loggerr1        0
st_loggerr2        0
st_logglim         0
st_rad             0
st_raderr1         0
st_raderr2         0
st_radlim          0
dtype: int64

In [883]:
df.isna().sum().sum()

0

####

In [884]:
##